## English Premier League(2020-21) 데이터 전처리 및 시각화

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

csv 파일 불러오기

In [6]:
df = pd.read_csv("./EPL_20_21.csv")

In [7]:
df.shape #532개 데이터와 18개 column이 있다는 것을 확인

(532, 18)

우선 데이터 5개를 뽑아서 어떻게 생겼는지 확인해보자.

In [8]:
df.head(5)

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0

마지막 데이터 확인하는 방법

In [9]:
df.tail(5)

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
527,Lys Mousset,Sheffield United,FRA,"FW,MF",24,11,2,296,0,0,50,80.0,0,0,0.22,0.1,0,0
528,Jack O'Connell,Sheffield United,ENG,DF,26,2,2,180,0,0,77,77.9,0,0,0.00,0.0,0,0
529,Iliman Ndiaye,Sheffield United,FRA,MF,21,1,0,12,0,0,3,100.0,0,0,0.00,0.0,0,0
530,Antwoine Hackford,Sheffield United,ENG,"DF,FW",16,1,0,11,0,0,1,100.0,0,0,1.16,0.0,0,0
531,Femi Seriki,Sheffield United,ENG,DF,17,1,0,1,0,0,0,-1.0,0,0,0.00,0.0,0,0

In [24]:
df.drop_duplicates(['Club'])

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
27,Ederson,Manchester City,BRA,GK,26,36,36,3240,0,1,1090,83.1,0,0,0.00,0.01,3,0
51,Bruno Fernandes,Manchester United,POR,MF,25,37,35,3099,18,12,2283,74.6,9,10,0.45,0.32,6,0
80,Andrew Robertson,Liverpool FC,SCO,DF,26,38,38,3383,1,7,3214,79.9,0,0,0.04,0.18,2,0
108,Kasper Schmeichel,Leicester City,DEN,GK,33,38,38,3420,0,0,1218,72.7,0,0,0.00,0.00,0,0
135,Tomáš Souček,West Ham United,CZE,MF,25,38,38,3419,10,1,1539,76.9,0,0,0.24,0.04,7,1
159,Pierre Højbjerg,Tottenham Hotspur,DEN,MF,24,38,38,3420,2,4,2687,88.9,0,0,0.03,0.05,9,0
183,Bernd Leno,Arsenal,GER,GK,28,35,35,3131,0,0,1156,79.8,0,0,0.00,0.00,0,1
212,Stuart Dallas,Leeds United,NIR,"DF,MF",29,38,38,3409,8,2,2212,82.0,0,0,0.12,0.05,7,0
235,Michael Keane,Everton,ENG,DF,27,35,33,2991,3,1,1835,88.9,0,0,0.04,0.03,4,0
264,Emiliano Martínez,Aston Villa,ARG,GK,27,38,38,3420,0,0,1295,65.6,0,0,0.00,0.01,1,0
288,Jonjo Shelvey,Newcastle United,ENG,MF,28,30,29,2617,1,3,1417,73.8,0,0,0.08,0.09,7,0
315,Rui Patrício,Wolverhampton Wanderers,POR,GK,32,37,37,3329,0,0,801,66.7,0,0,0.00,0.00,1,0
342,Vicente Guaita,Crystal Palace,ESP,GK,33,37,37,3330,0,0,1080,55.4,0,0,0.00,0.00,2,0
366,James Ward-Prowse,Southampton,ENG,MF,25,38,38,3420,8,7,2619,80.8,3,4,0.14,0.11,5,0
395,Ben White,Brighton,ENG,"DF,MF",22,36,36,3191,0,0,1766,83.2,0,0,0.02,0.02,5,1
422,Ashley Westwood,Burnley,ENG,MF,30,38,38,3410,3,3,2125,73.7,0,0,0.03,0.13,7,0
447,Alphonse Areola,Fulham,FRA,GK,27,36,36,3240,0,0,1001,73.6,0,0,0.00,0.00,2,0
475,Sam Johnstone,West Bromwich Albion,ENG,GK,27,37,37,3330,0,1,1282,49.9,0,0,0.00,0.01,1,0
505,Aaron Ramsdale,Sheffield United,ENG,GK,22,38,38,3420,0,0,1141,49.1,0,0,0.00,0.00,1,0

In [23]:
is_Sheffield_United = df['Club'] == 'Sheffield United'
Sheffield_United = df[is_Sheffield_United]
print(len(Sheffield_United))

27

In [26]:
is_Chelsea = df['Club'] == 'Chelsea'
Chelsea = df[is_Chelsea]
print(len(Chelsea))

27

0      False
1       True
2       True
3       True
4       True
       ...
527     True
528     True
529     True
530     True
531     True
Length: 532, dtype: bool